@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
    font-family: 'Co Headline Regular';
    font-style: normal;
    font-weight: normal;
    src: url('../font/Co Headline.woff') format('woff');
}

@import "tailwindcss";

@import "./utils/font.css";
@import "./utils/variables.css";
@import "./utils/title.css";
@import "./utils/button.css";
@import "./utils/input.css";

@import "./app.css";
